        .navbar {
            border-radius: 0;
        }
        .news_con,
        .news_con {
            height: 243px;
            width: 232.5px;
            background: white;
        }

        .news_title {
            font-size: 18px;
            color: #3f434f;
            line-height: 18px;
            padding-top: 36px;
        }

        .news_list {
            margin-top: 23px;
        }

.news_list li {
    width: 437px;
    height: 25px;
    background: url("#") no-repeat left;
    padding-left: 14px;
    /* margin-top: 23px;不能给li加哦 要给他爹，不然每个儿子顶部都会空出来*/
}

.news_list li a {
    float: left;
    font-size: 12px;
    color: #565656;
    line-height: 25px;
}

.news_list li span {
    float: right;
    color: #9a9a9a;
    font-size: 12px;
}

.news_l {
    width: 480px;
    height: 243px;
    /* background: rebeccapurple; */
    float: left;
    padding-left: 21px;
}
