{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}">
</head>
<body>
<body>
  <div class="card">
    <div class="imgBx">
      <img src="{% static 'img/mini program.jpg' %}">
    </div>
    <div class="content">
      <div class="details">
        <h2>Alina Smith<br><span>Senior UX/UI Designer</span></h2>
        <div class="data">
          <h3>342<br><span>Posts</span></h3>
          <h3>120k<br><span>Followers</span></h3>
          <h3>285<br><span>Following</span></h3>
        </div>
        <div class="actionBtn">
          <button>Follow</button>
          <button>Message</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>