<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>infolist</h1>
<table>
    <thead>
    <tr>
        <th>
            id
        </th>
        <th>
            name
        </th>
        <th>
            price
        </th>
        <th>
            dest
        </th>
    </tr>
    </thead>
    <tbody>
    {% for obj in data_list %}
    <tr>
        <td>
           {{ obj.prod_name }}
        </td>
        <td>
            {{ obj.prod_price }}
        </td>
        <td>
            {{ obj.prod_desc }}
        </td>
        <td>
            <a href="http://127.0.0.1:8000/info/delete/?nid={{ obj.id }}">删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/info/add">添加</a>
</body>
</html>